<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trackiness.fastpay"
    android:installLocation="preferExternal">
    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fastpay">
        <activity
            android:name=".NewBalanceActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".TakePictureActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateDetailsMainActivity"
            android:exported="false" />
        <activity
            android:name=".NotConnectedActivity"
            android:exported="false" />
        <activity
            android:name=".TransferActivity"
            android:exported="false" />
        <activity
            android:name=".AllTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".CryptoActivity"
            android:exported="false" />
        <activity
            android:name=".WalletQRActivity"
            android:exported="false" />
        <activity
            android:name=".QRCODEActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".BalanceManagementActivity"
            android:exported="false" />
        <activity
            android:name=".BalanceManupilationActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".QRCodeDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavigation"
            android:exported="false"/>
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordNonAuthActivity"
            android:exported="false" />
        <activity
            android:name=".FirstPage"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.trackiness.broadcastReceiver.NetworkBroadCastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="true" />
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="true" />
</manifest>